.reveal span.kbd {
    background-color: #f7f7f7;
    border: 0.1em solid #ccc;
    color: #333;
    line-height: 1.4;
    text-shadow: 0 0.1em 0 #fff;
    font-size: 0.7em;
    line-height: 1.2em;
    font-family: Arial,Helvetica,sans-serif;
    display: inline-block;
    padding: 0.1em 0.2em;
    min-width: 1em;
    text-align: center;
    margin: 0 0.05em;
    white-space: nowrap;
    box-shadow: 0 0.1em 0px #bbb, 0 0 0 0.2em #fff inset;
    border-radius: 0.3em;
    vertical-align: middle;
}

.reveal small.va-i * {
    vertical-align: initial;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal ul li {
    text-shadow: 0 0 20px rgba(0,0,0,1);
}

.reveal section img.noframe {
    margin: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    max-width: 100%;
    max-height: 100%;
}

.reveal .slides section .fragment.bounce-in {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.2s cubic-bezier(0.51, 1.6, 0.76, 0.77);
}
.reveal .slides section .fragment.bounce-in.visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.reveal .slides section .fragment.slow {
    transition-duration: 3s;
}

.reveal .slides section .fragment.center {
    opacity: 1;
    visibility: visible;
}
.reveal .slides section .fragment.center.visible {
    margin: auto;
    display: block;
    padding: 0;
    opacity: 1;
    visibility: visible;
    text-align: center;
}
